name: test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      git-ref:
        description: Git SHA-1 commit hash (optional)
        required: false


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: sudo apt-get update; sudo apt-get install libcurl4-openssl-dev
    - name: Install htslib 
      run: sudo apt-get install libhts3 libhts-dev
    - name: make HTSSRC="systemwide"
      run: make HTSSRC="systemwide"
    - name: make test
      run: make test
